[Desktop Entry]
Name=OkakInstall
Comment=Установщик OkakOS 67
Exec=sudo calamares
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
