[Desktop Entry]
Type=Application
Name=OkakOS Welcome
GenericName=Welcome App
Exec=okakos-welcome
Icon=/etc/calamares/branding/okakos/logo.png
Terminal=false
Categories=System;
