[Desktop Entry]
Name=OkakInstall GUI
Comment=Графический установщик OkakOS 67 (Calamares)
Exec=sh -c 'pkexec calamares'
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
