[Desktop Entry]
Name=Pocoyo Optimizator
Comment=Оптимизация и очистка системы OkakOS
Exec=foot -e sudo pocoyo-optimizator
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Utility;
