[Desktop Entry]
Name=Pocoyo Optimizator
Comment=Очистка кэша и оптимизация от OkakOS
Exec=foot -e bash /usr/local/bin/pocoyo-optimizator
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Utility;
