[Unit]
Description=OkakOS 67 Boot Easter Egg and Setup
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/local/bin/okakos-live-setup.sh

[Install]
WantedBy=basic.target
